<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>IRServlet</display-name>
    <servlet-name>IRServlet</servlet-name>
    <servlet-class>Controller.IRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IRServlet</servlet-name>
    <url-pattern>/IRServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>IRServlet</servlet-name>
    <url-pattern>/Similar</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>IRServlet</servlet-name>
    <url-pattern>/BM25</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>IRServlet</servlet-name>
    <url-pattern>/Vectors</url-pattern>
  </servlet-mapping>
  
  <display-name>Information Retrieval</display-name>
  <welcome-file-list>
    <welcome-file>Results.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>